@import "~normalize.css";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@import "_variables";

html {
  box-sizing: border-box;
}

*,*::before, *::after {
  box-sizing: inherit;
}


body {
  background: lightblue;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: 'Open Sans';
  padding: 16px;
}


.editor {
  width:100%;
  max-width: 736px; 
  &__header {
    font-size: 44px;
    margin: 0 0 40px;

  } 
}

.form {
  &__buttons {
    margin: 16px 0 0 0;
    display:flex;
    justify-content: flex-end;
  }

  &__textarea {
    width: 100%;
    font-size: 14px;
    min-height: 240px;
    padding: 16px;
    border: 1px solid #A1A4B1;
    border-radius: 4px;
  }
}

.button {
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: #121232;
  background: #FAFAFC;
  border: 1px solid #121232;
  border-radius: 4px;
  padding: 12px 16px;
  &--save {
    margin-left: 32px;
    color: #FAFAFC;
    background: #121232;
    border: 1px solid #121232;

  }
}